body {
  background-color: #0e180f;
}

#text {
  background-color: #56ab9b;
  border-radius: 0px 0px 3px 3px;
  color: #003809;
  padding: 10px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #89db76;
  color: #ffffff;
  margin: 250px auto 0px;
  padding: 10px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

#controls,
#stats {
  border: 1px solid #03260d;
  padding: 5px;
  color: #07071b;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

#monsterStats {
  display: none;
  border: 1px solid #04200a;
  border-radius: 3px;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: hsl(150, 31%, 10%);
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  
  background-color: #018406;
  background-image: linear-gradient(#56ab9b, #9c9830);
  border: 2px solid #fe3232;
  border-radius: 3px;
}